
@font-face {
  font-family: 'Chango';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Chango-Regular.ttf') format('truetype');
  src: url('~assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
}
